@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-image: url('$assets/grid.svg');
    background-size: 25px;
    color: white;
    @apply mb-16 bg-slate-950 md:mb-40;
  }
}
